$color-background: #EDEDED;
$color-primary: #0062FF;

$color-title: #000000;
$color-text: #202326;
$color-add: #FFFFFF;
$color-text-data-info: #1A1A1A;
$color-grey: #777777;
$color-link: #0035FF;
$color-star:rgb(255, 180, 0);;
$color-light: #fff;
$color-input-focus: #7f7f7f;

$content-width: 738px;
$mobile-width: 767px;
