@mixin font ($size: 1.8rem, $height: 2.4rem, $weight: normal) {
    font-size: $size;
    font-style: normal;
    line-height: $height;
    font-weight: $weight;
}

@mixin columns (  $flex-direction, $wrap: nowrap, $justify-content: space-evenly, $align-items: center, $gap: 0px) {
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin media-mobile {
    @media (max-width: $mobile-width) { @content; }
}