.public {
  display: flex;
  justify-content: center;
  background: $color-background;
  min-height: 305px;

  @include media-mobile {
    min-height: 274px;
  }
}

.public__block {
  padding-top: 34px;

  @include media-mobile {
    padding-top: 22px;
  }
}

.public__text {
  @extend %font-public;
  @include font($size: 1.4rem, $height: 1.8rem, $weight: normal);
  color: $color-title;
  margin-bottom: 17px;

  @include media-mobile {
    margin-bottom: 14px;
  }
}

.public__link {
  @extend %font-public;
  @include font($size: 1.4rem, $height: 1.8rem, $weight: normal);
  color: $color-link;
}

.public__img {
  background-image: url(../src/images/public.png);
  width: 610px;
  height: 200px;

  @include media-mobile {
    background-image: url(../src/images/Photo_mobile.png);
    width: 280px;
    height: 200px;
  }
}
