body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// abstract
@import "style/abstract/constants";
@import "style/abstract/mixins";
@import "style/abstract/placeholders";

//base
@import "style/base/base";

//layouts
@import "style/layouts/wrapper";
@import "style/layouts/columns";

//components
@import "style/components/books";
@import "style/components/info";
@import "style/components/public";
@import "style/components/conclusion";
@import "style/components/form-block";
@import "style/components/post";
@import "style/components/star";
@import "style/components/gallary";